@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #4338CA;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
hr{
    margin: 2rem 0;
}

/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
.pad{
    padding: 0 0 2rem 0;
}

/* links */
.primary-link{
    background-color:  var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link{
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}
.secondary-link{
    color: var(--primary-color);
    border: solid var(--primary-color) 1px;
    border-radius: 0.5rem;
}
.blog-link{
    text-decoration: none;
    color: var(--primary-color);
}

/* lists */
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0 1rem;
}

/* navigation */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .link{
    color: white;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link-active{
    font-weight: bold;
}

/* header */
.hero{
    padding: 2rem 0;
    padding-top: 5rem ;
}
.hero .hero-image{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    color: var(--dark-gray);
    padding-top: 1rem;
    text-align: center;
}
.hero .hero-heading .hero-heading-inverted{
    color: var(--primary-color);
}

/* section */
.section{
    padding: 2rem;
}
.section h3{
    text-align: center;
}
.ow{
    background-color: var(--off-white);
}

/* footer */

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .footer-header{
    font-weight: bold;
    font-size: 1.3rem;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0;
}

/* hoisting */
.hero-hoist{
    padding:  1rem;
}
.hero-hoist .hero-image{
    display: block;
    margin: auto;
    width: 90%;
    max-width: 500px;
}
.hero-hoist .hero-heading{
    text-align: center;
}
.padding{
    padding: 1rem;
}
.section-hoist{
    padding: 1rem;
}
.section-hoist h3{
    text-align: center;
}

/* blogs */
.blog-lists .container{
    padding: 1rem;
}
.blog-lists{
    padding-inline-start: 0;
}